.rectclient{
  

    position: relative;
    width: 100%;
    height: 308px;
    top: 2900px;
    
    background: rgba(248, 248, 248, 0.49);
     
    }
    
    .clienthead{
    
    position: absolute;
    width: 180px;
    height: 49px;
    left: 630px;
    top: 50px;
    
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    
    color: #000000;
    
    
    }

    .imggrid{
        position: relative;
        top: 200px;
        justify-content: center;
    
    }

    .imgpaypal{
        top:-50px;
        position: absolute;
        left: 20px;
    }