.services{
    position: absolute;
    top: 1107px;
    width: 100%;
}

.headingos{
   

position: absolute;
width: 375px;
height: 87px;
left: 111px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 87px;
text-align: justify;

color: #000000;

 
}

.buttoncolum{
   

position: absolute;
left: 111px;
top: 150px;

}

.decribtionboxes{
    display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto;
  row-gap: 100px;
  }
  
  .describelayout{
  
  
  box-sizing: border-box;
  
  position: relative;
  width: 354px;
  height: 348px;
  left: 560px;
  top: 150px;
  
  background: rgba(248, 248, 248, 0.43);
  border: 1px solid #8F3BF2;
  backdrop-filter: blur(2px);
  
  border-radius: 21px;
  
  }
  
  .boxtext{
  
  
    position: relative;
    width: 302px;
    height: 60px;
    left: 25px;
    top: 15px;
    
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    
    color: #000000;
    
     
    }
  
  .head{
        
  
  position: relative;
  width: 200px;
  height: 29px;
  top: -40px;
  left: 140px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  
  color: #000000;
  
  }
  
  .viewsol{
   
  
  position: absolute;
  width: 250px;
  height: 24px;
  left: 20px;
  top: 300px;
  background-color: transparent;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  border-color: transparent;
  color: #8F3BF2;
  
  
  }
  
  .imgser{
    
  
  position: relative;
  width: 70px;
  height: 58px;
  left: 20px;
  top: 20px;
  
  
  }
  